$mp-back: #333;

$bookmark-for-dark: '//cdn.myanonamouse.net/imagebucket/108303_mark_white.gif';
$bookmark-for-lite: '//cdn.myanonamouse.net/imagebucket/108303_mark_black.gif';
$demark-for-dark: '//cdn.myanonamouse.net/imagebucket/108303/mark_white_del.gif';
$demark-for-lite: '//cdn.myanonamouse.net/imagebucket/108303/mark_black_del.gif';
