{
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "singleQuote": true,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "crlf",
    "printWidth": 90
}
